@font-face {
    font-family: Ukraine; /* даю назву шрифту */
    src: url(/font/e-Ukraine-Bold.otf) /* під'єдную шрифт */
}
body{
    justify-content: center; /* вирівнюю по центру */
    align-items: center; /* вирівнюю по центру */
    display: flex; /* флекс контейнер */
}
img {
    width: 500px; /* ширина */
    height: 500px; /* висота */
    animation: animation 10s infinite; /* анімація */
}
div{
    position: relative; /* відносне позиціонування */
    text-align: center; /* вирівнюю по центру */
    width: 500px; /* ширина */
    height: 500px; /* висота */
}
h1 {
    color: #fff; /* колір тексту */
    background-color: #262341; /* колір фону */
    font-family: Ukraine; /* шрифт */
}
@keyframes animation { /* анімація */
    0%{
        opacity: 0; /* прозорість 0 */
    }
    50%{
        opacity: 1; /* прозорість 1 */
    } 
    100%{
        opacity: 0; /* прозорість 0 */
    }
}