.menu {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    /*margin: 0px 400px 0px 400px;*/
    background-color: #99ffcc;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: #515151;
    padding: 10px 20px;
    border-radius: 30px;
    background: linear-gradient(
    0deg,
    #f2d516 17%,
    #e0d426 84%);
    box-shadow: inset 0px 6px 0px 0px rgba(0, 0, 0, 0.05);
    font-weight: bold;
    font-size: 35px;
}

.menu a:hover {
    background: linear-gradient(145deg, #d1a754, #f5d687);
}
h1 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 10px;
    color: black;
    /*font-style: bold;*/
}
p {
    text-align: justify;
    font-size: 24px;
}
img {
    float: left;
    margin: 35px;
    border: 2px solid black;
}
.more {
    text-align: right;
    display: block;
    color: blue;
    font-size: 24px;
}