@font-face{
    font-family: Ukraine; /* даю назву шрифту */
    src: url(/font/e-Ukraine-Bold.otf); /* під'єдную шрифт */
}
body{
    font-family: Ukraine;
}
.text {
    text-align: center;
}
.labs ul {
    list-style: disc;
}
.labs a {
    text-decoration: none;
    color: blue;
}
.labs a:hover {
    text-decoration: underline;
}